/* @import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

body {
  font-family: "Rakkas", cursive;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
} */
/* 
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");

body {
  font-family: "Playfair Display", serif;
} */
/* 
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap");

body {
  font-family: "Cairo", sans-serif;
} */
